# https://github.com/openwrt/openwrt/blob/master/target/Config.in
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_ARCH_64BIT=y

#
# Hardware features
#
CONFIG_HAS_TESTING_KERNEL=n
CONFIG_PCIE_SUPPORT=y
CONFIG_VIRTIO_SUPPORT=y

CONFIG_USES_SQUASHFS=y
CONFIG_USES_EXT4=y
CONFIG_USES_TARGZ=y

CONFIG_LOW_MEMORY_FOOTPRINT=n
CONFIG_SMALL_FLASH=n
CONFIG_NAND_SUPPORT=y

CONFIG_USES_BOOT_PART=y
CONFIG_USES_ROOTFS_PART=y
# End of Hardware features
