# Details:
# https://github.com/openwrt/openwrt/blob/master/toolchain/Config.in

#
# Target Options
#

# left empty to use the default options

# End of Target Options

#
# BPF Toolchain
#

# CONFIG_BPF_TOOLCHAIN_NONE is not set
# CONFIG_BPF_TOOLCHAIN_HOST is not set
# CONFIG_BPF_TOOLCHAIN_BUILD_LLVM is not set

CONFIG_HAS_PREBUILT_LLVM_TOOLCHAIN=y
CONFIG_USE_LLVM_PREBUILT=y
CONFIG_BPF_TOOLCHAIN_PREBUILT=y
CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=n

# End of BPF Toolchain

#
# External toolchain
#
CONFIG_EXTERNAL_TOOLCHAIN=n
CONFIG_NEED_TOOLCHAIN=y

# End of External toolchain

#
# C Library
#
CONFIG_USE_MUSL=y
CONFIG_MUSL_DISABLE_CRYPT_SIZE_HACK=y

# End of C Library


# Config.in from
# https://github.com/openwrt/openwrt/blob/master/toolchain/gcc/Config.in

#
# Choose gcc version
#

# left empty to use the default gcc version



