# Global build settings
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
CONFIG_ALL_NONSHARED=n
CONFIG_ALL_KMODS=n
CONFIG_ALL=n
CONFIG_BUILDBOT=y
CONFIG_SIGNED_PACKAGES=y

# General build options
CONFIG_BUILD_PATENTED=y
# CONFIG_BUILD_NLS is not set

# Stripping options
CONFIG_USE_STRIP=y
CONFIG_USE_SSTRIP=n

#
# Advanced configuration options (for developers)
#
CONFIG_AUTOREBUILD=y
CONFIG_AUTOREMOVE=y
CONFIG_CCACHE=y
CONFIG_BUILD_LOG=y
# CONFIG_SRC_TREE_OVERRIDE is not set

CONFIG_IN_SDK=y
CONFIG_MODULES=y
CONFIG_HAVE_DOT_CONFIG=y
CONFIG_HOST_OS_LINUX=y

## Experimental Build Options
CONFIG_USE_GC_SECTIONS=y
CONFIG_USE_LTO=y
CONFIG_MOLD=y
CONFIG_USE_MOLD=y
