# https://github.com/openwrt/openwrt/blob/main/config/Config-build.in
#
# Global build settings
#
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
CONFIG_ALL_NONSHARED=n
CONFIG_ALL_KMODS=n
CONFIG_ALL=n
CONFIG_BUILDBOT=n
CONFIG_SIGNED_PACKAGES=y

# General build options
CONFIG_TESTING_KERNEL=n
CONFIG_DISPLAY_SUPPORT=n
CONFIG_BUILD_PATENTED=y
CONFIG_BUILD_NLS=y
CONFIG_INCLUDE_CONFIG=y

# End of Global build settings

#
# Package build options
#
CONFIG_DEBUG=n
#CONFIG_USE_GC_SECTIONS=? (EXPERIMENTAL)
CONFIG_USE_LTO=y
CONFIG_MOLD=y
CONFIG_USE_MOLD=y

# End of Package build options

#
# Stripping options
#
CONFIG_NO_STRIP=y
#CONFIG_USE_STRIP=y
# End of Stripping options

#
# Advanced configuration options (for developers)
#
CONFIG_DEVEL=n
CONFIG_BROKEN=n
CONFIG_AUTOREBUILD=n
CONFIG_AUTOREMOVE=n
CONFIG_CCACHE=y
CONFIG_BUILD_LOG=y
# CONFIG_SRC_TREE_OVERRIDE is not set
CONFIG_EXTRA_OPTIMIZATION="-fno-caller-saves -fno-plt"

# End of Advanced configuration options (for developers)

#
# Build the OpenWrt SDK
#
# https://github.com/openwrt/openwrt/blob/master/target/sdk/Config.in
# https://github.com/openwrt/openwrt/blob/master/target/toolchain/Config.in
CONFIG_SDK=n
CONFIG_SDK_LLVM_BPF=n
CONFIG_MAKE_TOOLCHAIN=n

#CONFIG_IN_SDK=y

# End of Build the OpenWrt SDK

