CONFIG_DEVEL=y
CONFIG_BINARY_FOLDER=""
CONFIG_DOWNLOAD_TOOL_CUSTOM=""
# CONFIG_BUILD_ALL_HOST_TOOLS is not set
CONFIG_BUILD_SUFFIX=""
CONFIG_TARGET_ROOTFS_DIR=""
CONFIG_KERNEL_CFLAGS=""
CONFIG_EXTERNAL_KERNEL_TREE=""
CONFIG_KERNEL_GIT_CLONE_URI=""
CONFIG_BUILD_LOG_DIR=""
CONFIG_EXTRA_OPTIMIZATION="-fno-caller-saves -fno-plt"
CONFIG_TARGET_OPTIMIZATION="-Os -pipe"
# CONFIG_BPF_TOOLCHAIN_NONE is not set
# CONFIG_BPF_TOOLCHAIN_HOST is not set
CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y
# CONFIG_EXTERNAL_TOOLCHAIN is not set
CONFIG_NEED_TOOLCHAIN=y
# CONFIG_TOOLCHAINOPTS is not set
CONFIG_EXTRA_BINUTILS_CONFIG_OPTIONS=""
CONFIG_EXTRA_GCC_CONFIG_OPTIONS=""
CONFIG_NASM=y
CONFIG_MUSL_DISABLE_CRYPT_SIZE_HACK=y
CONFIG_GDB=y
# CONFIG_GDB_PYTHON is not set
CONFIG_HAS_BPF_TOOLCHAIN=y
# CONFIG_HAS_PREBUILT_LLVM_TOOLCHAIN is not set
CONFIG_USE_LLVM_BUILD=y
CONFIG_USE_MUSL=y
CONFIG_SSP_SUPPORT=y
CONFIG_BINUTILS_VERSION_2_40=y
CONFIG_BINUTILS_VERSION="2.40"
CONFIG_GCC_VERSION="12.3.0"
CONFIG_LIBC="musl"
CONFIG_TARGET_SUFFIX="musl"
CONFIG_IB=y
# CONFIG_IB_STANDALONE is not set
CONFIG_SDK=y
CONFIG_SDK_LLVM_BPF=y
CONFIG_MAKE_TOOLCHAIN=y

