# https://github.com/openwrt/openwrt/blob/main/config/Config-kernel.in
#
# Kenrel features
#
CONFIG_KERNEL_TASKSTATS=y

CONFIG_KERNEL_KPROBES=y
# auto select KERNEL_FTRACE and KERNEL_PERF_EVENTS
CONFIG_KERNEL_BPF_EVENTS=y

CONFIG_KERNEL_IO_URING=y

CONFIG_KERNEL_TRANSPARENT_HUGEPAGE=y

CONFIG_KERNEL_MAGIC_SYSRQ=y

CONFIG_KERNEL_IPV6=y

CONFIG_KERNEL_XDP_SOCKETS=y

# compile optimization setting
CONFIG_KERNEL_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=n

CONFIG_KERNEL_WERROR=y

# End of Kernel features
