#
# Docs: https://openwrt.org/docs/guide-user/services/tls/libs
#
# OpenSSL is a de-facto standard. It's libopenssl takes more than a 1Mb of disk space.
# MbedTLS is a small library developed for embedded devices. Was used by default in OpenWrt before.
# WolfSSL is a small library developed for embedded devices. Supports TLS1.3. Installed by default in OpenWrt 21. But in future this may be changed back to MbedTLS.
#

CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libopenssl=y

#
# Build Options
#
CONFIG_OPENSSL_NO_DEPRECATED=y
