# https://github.com/openwrt/openwrt/blob/master/package/base-files/image-config.in


#
# Image Options Configuration
#

CONFIG_IMAGEOPT=y
CONFIG_TARGET_DEFAULT_LAN_IP_FROM_PREINIT=y

CONFIG_PREINITOPT=y

CONFIG_TARGET_PREINIT_SUPPRESS_STDERR=n

CONFIG_TARGET_PREINIT_IP="192.168.1.1"
CONFIG_TARGET_PREINIT_NETMASK="255.255.255.0"
CONFIG_TARGET_PREINIT_BROADCAST="192.168.1.255"

# End of Image Options Configuration
