# Details:
# https://github.com/openwrt/openwrt/blob/master/toolchain/Config.in

#
# Target Options
#

# left empty to use the default options

# End of Target Options

#
# BPF Toolchain
#

# CONFIG_BPF_TOOLCHAIN_NONE is not set
# CONFIG_BPF_TOOLCHAIN_HOST is not set
#CONFIG_BPF_TOOLCHAIN_BUILD_LLVM=y

#CONFIG_BPF_TOOLCHAIN_PREBUILT=y
#CONFIG_HAS_PREBUILT_LLVM_TOOLCHAIN=y
#CONFIG_USE_LLVM_PREBUILT=y

# End of BPF Toolchain

#
# External toolchain
#
#CONFIG_EXTERNAL_TOOLCHAIN=y

#CONFIG_TARGET_NAME="x86_64-openwrt-linux-musl"
#CONFIG_TOOLCHAIN_PREFIX="x86_64-openwrt-linux-musl-"
#CONFIG_TOOLCHAIN_ROOT="staging_dir/toolchain-x86_64_gcc-12.3.0_musl"

#CONFIG_EXTERNAL_TOOLCHAIN_LIBC_USE_MUSL=y
#CONFIG_EXTERNAL_GCC_VERSION="12.3.0"

# End of External toolchain

#
# C Library
#
CONFIG_USE_MUSL=y
CONFIG_MUSL_DISABLE_CRYPT_SIZE_HACK=y

# End of C Library


# Config.in from
# https://github.com/openwrt/openwrt/blob/master/toolchain/gcc/Config.in

#
# Choose gcc version
#

# left empty to use the default gcc version
# or keep the same with `CONFIG_EXTERNAL_GCC_VERSION`
#CONFIG_GCC_VERSION="12.3.0"
