# Base Systems
CONFIG_DEFAULT_urngd=n

# i18n
CONFIG_LUCI_LANG_zh_Hans=y

# busybox
CONFIG_BUSYBOX_DEFAULT_FEATURE_SUID=y

CONFIG_BUSYBOX_DEFAULT_FEATURE_EDITING_HISTORY=1024
CONFIG_BUSYBOX_DEFAULT_FEATURE_EDITING_SAVEHISTORY=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_EDITING_SAVE_ON_EXIT=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_REVERSE_SEARCH=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_TAB_COMPLETION=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_USERNAME_COMPLETION=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_EDITING_FANCY_PROMPT=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_EDITING_WINCH=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_EDITING_ASK_TERMINAL=y

CONFIG_BUSYBOX_DEFAULT_UNICODE_SUPPORT=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_SH_EXTRA_QUIET=n  # Remove the busybox introduction when starting a shell.
CONFIG_BUSYBOX_DEFAULT_FEATURE_SH_HISTFILESIZE=y
